* {
  box-sizing: border-box;

}
/* set background color. */
body {
  background-color: rgb(219, 219, 219);
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 30px;
}

/* grid */

.grid-container {
  display: grid;
  grid-gap: 50px;
  background: #f4f7f8;
  margin: 20px;
}

.grid-item-col1-row1 {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
  padding: 30px;
  
}


/* center logo and page titles. */

.group {
  display: flex;
  flex-direction: row;
  margin-bottom: 100px;
}

header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
}

/* clean up and center images */
.logo {
  display: flex;
  width: auto;
  filter: drop-shadow(0 0 0.55rem rgb(63, 63, 63));
}

.map {
  display: flex;
  width: 100%;
  filter: drop-shadow(0 0 0.55rem rgb(63, 63, 63));
}

.quiz {
  filter: drop-shadow(0 0 0.55rem rgb(63, 63, 63));
  display: flex;
  width: 100%;
}


/* set font family for all text and stylize it. */

h5, h4, h3, h2, h1, p, ul, ol {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

ol {
  font-size: medium;
}

h4 {
  font-size: large;
}
/* center headings. */
h5 {
  text-align: center;
  font-size: large;
}

h3 {
  text-align: center;
  font-size: 20px;
}

h1, h2 {
  text-align: center;
}


/* stylize links. */
a {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

a:link    {color: rgb(73, 73, 75);}

/* nav bar */

nav ul li a {
  display: flex;
  justify-content: center;  
}

nav ul {
  padding-left: 0;
}

nav ul li {
  
  list-style: none;
}

/* page breaks */

hr {
  height: 1px;
  background-color: rgb(248, 246, 246);
  margin-top: 20px;
  margin-bottom: 20px;
}


/* Contact Form */

.form {
  flex: 2;
  margin: 10px;
  font-family: sans-serif;
}

.contact-links {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

/* paragraph text */

p {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

  /* scroll to top of page */

  .top {
    scroll-behavior: smooth;
    position: fixed;
    bottom: 20px;
    right: 30px;
   
  }


/* Groups and Items (Desktop) */

@media all and  (min-width: 600px) {

 
  section {
      padding: 0 10%;
  }

  .contact-links {
    justify-content: center;
    padding-bottom: 10px;
    
  }

  nav ul {
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    list-style: none;
  }

  nav ul li a {
    margin: 0 20px 0 0;
  }

  nav ul li:last-child a {
    margin-right: 0;
  }

  .group {
      flex-direction: row;
  }

  .grid-container {
    display: grid;
    grid-gap: 50px;
    background: #f4f7f8;
    margin: 20px;
  }
  
  .grid-item-col1-row1 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    padding: 30px;
    
  }

  .grid-item-col2-row1 {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    padding: 30px;
    
  }
  
  .grid-item-col1-row2 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
    padding: 30px;
    
  }
  
  .grid-item-col2-row2 {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    padding: 30px;
    
  }
}

/* Contact Form Design */

form {
  padding-right: 6px;
}

form input,
form textarea {
  width: 100%;
  margin-bottom: 20px;
}

form textarea {
  height: 160px;
}

